.testimonial {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
}
.testimonial_bg {
  background-image: url("../../image/Bg-1.svg");
  background-position: center;
  background-repeat: no-repeat;
}
