@tailwind base;
@tailwind components;
@tailwind utilities;

/* google font cmd */
@import url("https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@400;500;600&family=Inspiration&family=Inter:wght@200;300&family=Kanit:ital,wght@0,300;1,300&family=Lato:ital,wght@0,400;1,300&family=Open+Sans:wght@300;400&family=Oswald:wght@400;500;600&family=Poppins:wght@500&display=swap");

body {
  font-family: "Cormorant SC", serif;
  font-family: "Inspiration", cursive;
  font-family: "Inter", sans-serif;
  font-family: "Kanit", sans-serif;
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Oswald", sans-serif;
  font-family: "Poppins", sans-serif;
}
